TELEGRAM_TOKEN=ton_token_bot_ici
TELEGRAM_BOT_TOKEN=ton_token_bot_ici
TELEGRAM_ADMIN_IDS=ton_id_telegram_ici
TELEGRAM_MAIN_GROUP_ID=-100xxxxxxxxxx
DOLIBARR_API_URL=https://erp.tondomaine.sn/api/index.php
DOLIBARR_API_KEY=ta_cle_api_ici
DUCKDB_PATH=./data/yessal_asso.duckdb
LOG_LEVEL=debug
